*{
    font-family: 'Barlow', sans-serif;
}

a{
    color: white;
    display: grid;
}

h1{
    display: flex;
    color: rgb(250, 254, 123);
    text-decoration-line: underline;
}

.container-fluid{
    display: flex;
    justify-content: center;
}

header{
    grid-area: header;
}

nav{
    width: 100%;
}

header img{
    width: 100px;
}

header ul{
    list-style-type:none ;
    padding: 0;
    margin: 0;
}

header ul li{
    padding: 20px;
    font-size: 23px;
}

body{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header header header header header"
    "main main main main main main main"
    "footer footer footer footer footer footer footer"
    ;
    background-color: grey;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

.container{
    display: flex;
    justify-content: center;
    margin-block: 200px;
}

h2{
    color: white;
    font-size: 40px;
}

main{
    grid-area: main;
    width: 100%;
}

.mainText{
    color: white;
    font-size: 30px;
}

h4{
    margin-top: 300px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
    background-color: rgba(0,0,0,0.6);
    block-size: contain;
}

.brands-p{
    color: white;
    font-size: 40px;
    color: white;
}

.imageBrands{
    margin-bottom: 200px;
}

h5{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
    background-color: rgba(0,0,0,0.6);
}

.sections{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

h6{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
    background-color: rgba(0,0,0,0.6);
}

iframe{
    height: 300;
    width: 100%; 
    border: none; 
    border-radius: 15px;
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-end: 800px;
    background-color: rgb(208, 121, 59);
    grid-area: footer;
}

.footerImg{
    width: 75px;
}

footer p{
    color: rgb(7, 7, 7);
    padding: 0px 10px;
    font-size: 20px;
}

.imageExperience{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px;
}

.irrigationText{
    font-size: 30px;
}

.typesOfIrrigation{
    background: rgba(0,0,0,0.5);
    padding: 100px;
    color: white;
    font-size: 35px;
}

.maintenanceImage{
    display: flex;
    justify-content: center;
    margin: 50px;
}